alacritty/.config/alacritty/themes/
zsh/.oh-my-zsh/custom/plugins/
zsh/.oh-my-zsh/custom/themes/
zsh/.oh-my-zsh/custom/example.zsh
git/.gitconfig
tmux/.tmux/plugins/
# fuzzel/.config/fuzzel/catppuccin-fuzzel
