@import "mocha.css";

/* === Global Defaults === */
* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: @base;
  color: @text;
  opacity: 0.85;
}

/* === Workspaces === */
#workspaces {
  background: @base;
  padding: 0 5px 0 5px;
}

#workspaces button {
  padding: 5px;
  color: @sapphire;
  background: transparent;
  transition: background 0.2s ease, color 0.2s ease;
}

#workspaces button.active,
#workspaces button.focused {
  color: @sapphire;
}

#workspaces button.urgent {
  color: @red;
  background: @base;
}

#workspaces button:hover {
  background: @crust;
  color: @text;
}

/* === Shared Module Styling === */
#window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#disk,
#custom-spotify,
#custom-logout,
#tray,
#backlight {
  background: @base;
  padding: 10px 10px;
  margin: 0;
}

/* === Individual Modules === */
#backlight {
  color: @green;
}

#window {
  color: @yellow;
  padding-left: 5px;
}

#clock {
  color: @white;
}

#cpu {
  color: @green;
}

#memory {
  color: @sapphire;
}

#disk {
  color: @yellow;
}

#network {
  color: @peach;
}

/* #pulseaudio { */
/*   color: @teal; */
/* } */

/* #pulseaudio.microphone { */
/*   color: @sky; */
/* } */

#battery {
  color: @yellow;
}

#custom-music {
  color: @subtext;
  background-color: @blue;
  font-size: 40px;
  padding: 0 10px;
  margin-right: 0;
  border-radius: 15px 0px 0px 15px;
}

#custom-spotify {
  color: @green;
  padding: 0 10px;
  margin-left: 0;
  border-radius: 0px 15px 15px 0px;
}

#custom-firefox {
  color: @peach;
}

#custom-logout {
  color: @sky;
}

#custom-music {
  padding-right: 10px;
  font-size: 20px;
}
